<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Nanda/Desktop/Backup_repo/Nandana_Repository">
<classes>
<class name="SampleTestCase"></class>
</classes>

    </test>
</suite>